name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '37 9 * * *'

defaults:
  run:
    shell: bash

jobs:
  shared:
    uses: amezin/js-actions-common/.github/workflows/shared-ci.yml@67c0d71f04c64fecdd2b980d4016c8396f374f1a # v1.2.0
    permissions:
      contents: read

  test:
    runs-on: ubuntu-latest

    needs:
      - shared

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - id: simple-match
        uses: ./.
        with:
          files: action.yml
          base: efc72ea7731bb189c5c9c5dfa1836eb281732f48

      - run: test "$CHANGED" = "true"
        env:
          CHANGED: ${{ steps.simple-match.outputs.changed }}

      - id: all-negated
        uses: ./.
        with:
          files: |
            !action.yml
          base: efc72ea7731bb189c5c9c5dfa1836eb281732f48

      - run: test "$CHANGED" = "true"
        env:
          CHANGED: ${{ steps.all-negated.outputs.changed }}

      - id: current-pr-files
        if: github.event.pull_request
        run: |
          echo 'files<<EOF' >>"$GITHUB_OUTPUT" && gh pr diff "$PR_NUM" --name-only | tee -a "$GITHUB_OUTPUT"
          echo 'EOF' >>"$GITHUB_OUTPUT"
        env:
          PR_NUM: ${{ github.event.pull_request.number }}
          GH_TOKEN: ${{ github.token }}

      - id: current-pr
        if: steps.current-pr-files.outcome == 'success'
        uses: ./.
        with:
          files: ${{ steps.current-pr-files.outputs.files }}

      - run: test "$CHANGED" = "true"
        if: steps.current-pr.outcome == 'success'
        env:
          CHANGED: ${{ steps.current-pr.outputs.changed }}

      - id: current-pr-negate-files
        if: github.event.pull_request
        run: |
          echo 'files<<EOF' >>"$GITHUB_OUTPUT" && gh pr diff "$PR_NUM" --name-only | sed 's/^/!/' | tee -a "$GITHUB_OUTPUT"
          echo 'EOF' >>"$GITHUB_OUTPUT"
        env:
          PR_NUM: ${{ github.event.pull_request.number }}
          GH_TOKEN: ${{ github.token }}

      - id: current-pr-negate
        if: steps.current-pr-negate-files.outcome == 'success'
        uses: ./.
        with:
          files: ${{ steps.current-pr-negate-files.outputs.files }}

      - run: test "$CHANGED" = "false"
        if: steps.current-pr-negate.outcome == 'success'
        env:
          CHANGED: ${{ steps.current-pr-negate.outputs.changed }}

      - id: truncated
        uses: ./.
        with:
          repository: torvalds/linux
          files: this-does-not-even-exist
          base: v5.4
          head: v5.5

      - run: test "$CHANGED" = "true"
        env:
          CHANGED: ${{ steps.truncated.outputs.changed }}

      - id: no-match
        uses: ./.
        with:
          files: this-does-not-even-exist
          base: efc72ea7731bb189c5c9c5dfa1836eb281732f48

      - run: test "$CHANGED" = "false"
        env:
          CHANGED: ${{ steps.no-match.outputs.changed }}

      - id: no-match-negated
        uses: ./.
        with:
          files: |
            action.yml
            !*
          base: efc72ea7731bb189c5c9c5dfa1836eb281732f48

      - run: test "$CHANGED" = "false"
        env:
          CHANGED: ${{ steps.no-match-negated.outputs.changed }}

      - id: empty
        uses: ./.
        with:
          files: |
            # empty, only comment
          base: efc72ea7731bb189c5c9c5dfa1836eb281732f48

      - run: test "$CHANGED" = "false"
        env:
          CHANGED: ${{ steps.empty.outputs.changed }}
