name: tags

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  tag:
    uses: amezin/js-actions-common/.github/workflows/shared-tags.yml@57d51f58d78c08e511c26da2c5ddfbba693e5eeb # v2.0.3
    permissions:
      contents: write
